.App {
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url("https://hafizhisham.github.io/SEC-2023-Day-16/background.png");
  background-size: cover;

  background-attachment: fixed;
}
